
CONTAINER_NAME=all-linters
CONTAINER_WRAPPERS=(pylint pylama isort pycodestyle flake8 pyflakes rubocop foodcritic puppet-lint yamllint jsonlint)
CONTAINER_AUTO_WRAPPER=0

# Since these linter are "generic" (don't belong to any project),
# all home directory is mounted.
# So, in case of use outside the HOME directory, will not work!
CONTAINER_PROJECT_DIR=$HOME
CONTAINER_APP_DIR=$HOME
WRAPPERS=$PWD/.wrappers

container_layout
